<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RazorBlazor</title>
    <style>
        header {
            display: flex;
            margin: 0 1rem;
            border: 1px solid black;
        }
        header > * {
            margin: 1rem 1rem;
        }
    </style>
</head>

<body>
    <header>
        <strong>Example web application</strong>
        <a asp-page="/Index">Index</a>
        <a asp-page="/Special">Special</a>
    </header>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
